<p id="new_comment" class="add_comment">
  <%= f.hidden_field :user_id, :value => 1 %>
  <%= f.hidden_field :article_set_id, :value => @article_set.id %>
  <%= f.label :body, "leave a comment" %><br />
  <%= f.text_area :body, :rows => 5, :cols => 25 %>
</p>

<p>
  <%= f.submit "Add Comment" %>
</p>