<% content_for (:head) do%>
	<%= javascript_include_tag 'jquery-ui.min.js', :cache => true %>
	<%= javascript_include_tag 'canvas.js', :cache => true %>
	<%= stylesheet_link_tag 'jquery-ui', :cache => true %>
	<%= stylesheet_link_tag 'canvas', :cache => true %>
<% end %>

<table cellspacing="8" cellpadding="0" style="height: 473px;" id="app" class="wide">
	<tbody>
		<tr valign="top" height="100%">
        	<td width="60%" id="canvas_container">
            	<div style="height: 464px;" class="unlocked" classname="unlocked" id="canvas" trackcontext="canvas">

                </div>
            </td>
            <td width="40%">
                <div id="panel">
					
					<div class="articles">
						<% for product in @products %>
						<% product.assets.first(1).each do |asset| %>
						  <a class="inventory_item" href="javascript:addToCanvas('<%= asset.image.url(:thumb).to_s %>' , '<%= product.title %>')" >
							<%= image_tag asset.image.url(:mini).to_s, :title => product.title %>
						  </a>
						<% end %>

						<% end %>
					  </div>
					<br class="clear">
    			</div>
            </td>
        </tr>
   </tbody>
</table>






<%= form_for @article_set do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id, :value => 99 %>
  </p>
	<p>
		<%= f.fields_for :set_items do |item| %>
			<%= item.label :user_id %>
			<%= item.text_field :user_id %>
			<%= item.label :product_id %>
			<%= item.text_field :product_id %>
			<%= item.label :width %>
			<%= item.text_field :width %>
		<% end %>
  <p><%= f.submit %></p>
<% end %>
