<table cellspacing="8" cellpadding="0" style="height: <%= (480 * factor).round%>px;" class="set_table">
	<tbody>
		<tr valign="top" height="<%= (460 * factor).round %>px">
        	<td width="<%= (600 * factor).round %>px">
            	<div style="height: <%= (460 * factor).round %>px; border: 1px solid #ccc; position: relative; overflow: hidden;" class="locked" classname="locked" class="small_set_canvas">
					<% for item in article_set.set_items %>
						<div id="<%= article_set.id %>_set_item_<%= item.id %>" class="set_item" style="position:absolute; z-index:<%= item.z_index %>; top:<%= (item.pos_y * factor).round %>;left:<%= (item.pos_x * factor).round %>;">
								<%= image_tag item.product.assets.first.image.url(:thumb).to_s, :title => item.product.title, :width => (item.width* factor).round.to_s, :height => (item.height * factor).round.to_s %>
						</div>
						<script type="text/javascript" charset="utf-8">
							$('#set_item_<%= item.id %>').rotate(<%= item.rotation %>)
						</script>
					<% end %>
                </div>
            </td>
            <td>
                <div class="set_infos">
					<h3><%= article_set.name %></h3>
					<p>created at: <%= article_set.created_at.to_formatted_s(:long) %></p>
					<p>User: <%= link_to article_set.user.username, article_set.user%></p>
    			</div>
            </td>
        </tr>
   </tbody>
</table>
<br/>