<table cellspacing="8" cellpadding="0" style="height: <%= (480 * factor).round%>px;" class="set_table">
	<tbody>
		<tr valign="top" height="<%= (460 * factor).round %>px">
        	<td width="<%= (600 * factor).round %>px">
            	<div style="height: <%= (460 * factor).round %>px; border: 1px solid #ccc; position: relative; overflow: hidden;"  classname="locked" class="small_set_canvas locked"  onclick="javascript:location.href='<%= article_set_url(article_set.id) %>'">
					<% for item in article_set.set_items %>
						<div id="<%= article_set.id %>_set_item_<%= item.id %>" title="<%= item.product.title %>" class="set_item" style="position:absolute; z-index:<%= item.z_index %>; top:<%= (item.pos_y * factor).round %>px;left:<%= (item.pos_x * factor).round %>px;">
								<%= image_tag item.product.assets.first.image.url(:thumb).to_s, :width => (item.width* factor).round.to_s, :height => (item.height * factor).round.to_s %>
						</div>
						<script type="text/javascript" charset="utf-8">
							$('#<%= article_set.id %>_set_item_<%= item.id %>').rotate(<%= item.rotation %>)
						</script>
					<% end %>
                </div>
            </td>
            <td>
                <div class="set_infos">
					<h3><%= article_set.name %></h3>
					<p>created at: <%= article_set.created_at.to_formatted_s(:long) %></p>
					<p>User: <%= link_to article_set.user.username, article_set.user%></p>
					<div class="article_liker">
					   <% form_for ArticleSetLike.new do |f| %>
					     <%= f.hidden_field :user_id, :value => (current_user ? current_user.id : nil) %>
			  		     <%= f.hidden_field :article_set_id, :value => article_set.id %>
					     <%= image_submit_tag "like.jpg", :title => "i like it", :class => "heart" %>
					   <% end %>
					<span id="set_likes_count_<%= article_set.id %>" class="count"><%= article_set.users.count %></span>
					</div>
					<br/>
					<p> <b> Articles in this set </b> </p>
					<div class="set_articles_small">
						<% for item in article_set.set_items %>
							<%= link_to image_tag(item.product.assets.first.image.url(:mini).to_s), item.product, :title => item.product.title, :class => 'mini_thumb' %>
						<% end %>
					</div>
    			</div>
            </td>
        </tr>
   </tbody>
</table>
<br/>