<h2><%= @article_set.name %></h2>
<table cellspacing="8" cellpadding="0" style="height: 480px;" id="app" class="wide">
	<tbody>
		<tr valign="top" height="460px">
        	<td width="600px" id="canvas_container">
            	<div style="height: 460px; border: 1px solid #ccc; position: relative; overflow: hidden;" class="locked" classname="locked" id="canvas">
					<% for item in @article_set.set_items %>
						<div id="set_item_<%= item.id %>" class="set_item" style="position:absolute; z-index:<%= item.z_index %>; top:<%= item.pos_y %>;left:<%= item.pos_x %>;">
							<% item.product.assets.first(1).each do |asset| %>
								<%= image_tag asset.image.url(:thumb).to_s, :title => item.product.title, :width => item.width, :height => item.height %>
							<% end %>
						</div>
						<script type="text/javascript" charset="utf-8">
							$('#set_item_<%= item.id %>').rotate(<%= item.rotation %>)
						</script>
					<% end %>
                </div>
            </td>
            <td width="40%">
                <div id="articles">
					<h3>Articles in this Set: </h3>
					<% for article in  @article_set.set_items %>
						<div class="set_article">
							<span class="image">
								<%= image_tag article.product.assets.first.image.url(:mini).to_s, :title => article.product.title %>
							</span>
							<div style="float:right">
							<p><%= link_to article.product.title, article.product, :title => t('products.details') %></p>
							<p><%= article.product.subtitle %></p>
							<p><%= number_to_currency(article.product.price.exchange_to(session[:currency])) %></p>
							</div>
							<div class="clear"></div>
						</div>
					<% end %>
    			</div>
            </td>
        </tr>
   </tbody>
</table>