<% title "Article Set" %>

<p>
  <strong>Name:</strong>
  <%= @article_set.name %>
</p>
<p>
  <strong>User:</strong>
  <%= @article_set.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_article_set_path(@article_set) %> |
  <%= link_to "Destroy", @article_set, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", article_sets_path %>
</p>
