<div class="registration">

<h2><%= t('devise.links.register') %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>




<table id="register" border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td class="label"><%= f.label t 'devise.links.username' %></td>
		<td class="input"> <%= f.text_field :username %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label t 'devise.links.email' %></td>
		<td class="input">  <%= f.email_field :email %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label t 'devise.links.password_register' %></td>
		<td class="input">  <%= f.password_field :password %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label t 'devise.links.password_confirmation' %></td>
		<td class="input">   <%= f.password_field :password_confirmation %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label t 'devise.links.language' %></td>
		<td class="input"> <%= f.select :locale, [["English", "en"], ["#{t'chinese'}", "cn"]] %></td>
	</tr>
	<tr>
		<td class="label"></td>
		<td class="input small"><%= f.submit 'Register now', :class => 'funkybutton' %></td>
	</tr>
</table>

<% end %>

<%= render :partial => "devise/shared/links" %>

</div>