<h2><%= t('devise.links.register') %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label t 'devise.links.username' %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label t 'devise.links.email' %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label t 'devise.links.password' %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label t 'devise.links.password_confirmation' %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label t 'devise.links.language' %><br />
  <%= f.select :locale, [["English", "en"], ["#{t'chinese'}", "cn"]] %></p>


  <p><%= f.submit t "devise.links.register" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
