<h1>Admin Panel</h1>

	<div class="admin_group">
		<h3>Products</h3>
		<ul>
			<li><%= link_to "add product", new_product_path %></li>
			<li><%= link_to "categories", categories_url %> </li>
			<li><%= link_to "translations", translations_url %></li>
			<li><%= link_to "manage stock", stock_items_url %></li>
		</ul>
	</div>
	<div class="admin_group">
		<h3>Orders</h3>
		<ul>
			<li><a href="/admin/?locale=<%= I18n.locale %>">Order Admin</a></li>
			<li><%= link_to "shipping methods / costs", shipping_methods_path %></li>
			<li><%= link_to "define order statuses", order_statuses_path %></li>
			<li>link3</li>
		</ul>
	</div>
