<p>
<% if order.express_token.blank? %>
	
	  <%= f.input :first_name %>
	
	  <%= f.input :last_name %>
	<div class="input string optional">
	  <label for="order_card_type" class="select"> Card Type</label>
	  <%= f.select :card_type, [["Visa", "visa"], ["Mastercard", "master"], ["American Express", "american_express"]], :class => "select" %>
	</div>
	
	  <%= f.input :card_number %>
	
	  <%= f.input :card_verification %>
	
	
	<div class="input string optional">
	  <label for="order_expires_on" class="select"> Card expires on</label>
	  <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true,  :order => [:month, :year, :day] %>
	</div>
<% else %>
	<%= f.hidden_field :express_token %>
	TODO: express checkout confirmation
<% end %>
	<%= f.hidden_field :cart_id, :value => current_cart.id %>
</p>