<p>
  <%= f.hidden_field :cart_id, :value => current_cart.id %>

  <%= f.input :first_name,:input_html => { :value => adress.try(:first_name) } %>

  <%= f.input :last_name, :input_html => { :value => adress.try(:last_name) } %>

  <%= f.input :adress1, :input_html => { :value => adress.try(:adress1) } %>

  <%= f.input :adress2, :input_html => { :value => adress.try(:adress2) } %>

  <%= f.input :zipcode, :input_html => { :value => adress.try(:zip) } %>

  <%= f.input :city, :input_html => { :value => adress.try(:city) } %>

  <%= f.input :phone, :input_html => { :value => adress.try(:phone1) }, :hint => "Optional Contact Phone, if any questions arise" %>

	<div class="input string optional">
	  <label for="order_card_type" class="select"> Country</label>
      <% countries_array = Country.all.map { |country| [country.name, country.id] } %>
	  <%= f.select :country, options_from_collection_for_select(Country.all, 'iso', 'name', session[:order_params]["country"] ? session[:order_params]["country"] : "GB") %>
	</div>
	
<%= f.input :shipping_method_id, :collection => ShippingMethod.all, :as => :radio, :label_method => :name_and_price, :checked => session[:order_params]["shipping_method_id"] ? session[:order_params]["shipping_method_id"].to_i : 1, :wrapper_html => { :class => 'shipping_options' }, :item_wrapper_tag => :div %>
</p>
