<p>
  <%= f.hidden_field :cart_id, :value => current_cart.id %>

  <%= f.input :first_name %>

  <%= f.input :last_name %>

  <%= f.input :street %>

  <%= f.input :house_nr, :size => 5 %>

  <%= f.input :zipcode	 %>

  <%= f.input :city %>

	<div class="input string optional">
	  <label for="order_card_type" class="select"> Country</label>
      <% countries_array = Country.all.map { |country| [country.name, country.iso] } %>
	  <%= f.select :country, options_for_select(countries_array), :value => 'UK'  %>
	</div>
</p>