<p>
  <%= f.hidden_field :cart_id, :value => current_cart.id %>

  <%= f.input :first_name %>

  <%= f.input :last_name %>

  <%= f.input :street %>

  <%= f.input :house_nr, :size => 5 %>

  <%= f.input :zipcode	 %>

  <%= f.input :city %>
</p>