<div id="stepper">
	<div class="step">
		<%= link_to "Cart", current_cart_url, :title => "back to cart" %>
	</div>
	<div class="step <%= 'active' if order.shipping? %>">
		<%= link_to "Shipping", new_order_path, :order_step => "shipping" %>
	</div>
    <div class="step <%= 'active' if order.billing? %>">
		<%= link_to "Billing", new_order_path, :order_step => "shipping"  %>    	
    </div>
    <div class="step <%= 'active' if order.confirmation? %>">
    	<%= link_to "Confirmation", new_order_path, :order_step => "shipping"  %>    	
    </div>
<div id="heart"><%= image_tag "like.jpg", :width => 42, :height => 38 %></div>
</div>	
<br class="clear">		