<% title t'pages.orders' %>

<% content_for(:left) do %>
	<%= render :partial => 'users/profile_links', :user => @user %>
<% end %>

<div id="user_adresses">
<h2><%= t 'orders.my_orders' %></h2>

<table class="order_overview">
  <tr>
	<th>Order number</th>
  <th>Date</th>
	<th>Status</th>
	<th>Order value</th>
	<th>Order Details</th>
 </tr>

<% if !@orders.blank? %>
  <% for order in @orders %>
    <tr>
	  <td><%= link_to order.order_nr, order %></td>
      <td><%= order.created_at.strftime("%d. %b %Y") %></td>
 			<td><%= order.order_status.name %></td> 
      <td><%= number_to_currency (order.total_price.to_money.exchange_to(session[:currency])) %></td>
	 
	  <td><%= link_to "Check now", order %></td>
    </tr>
  <% end %>
<% else %>
  No orders yet.
<% end %>

</table>
</div>