<% title "New Order" %>


<%= simple_form_for @order do |f| %>  
  <%= f.error_messages %>  
  <%= render "#{@order.current_step}_step", :f => f, :order => @order %>  
  <%= f.hidden_field :express_token, :value => @order.express_token if @order.express_token? %>
  <p><%= f.submit "Continue" %></p>  
  <p><%= f.submit "Back", :name => "back_button" unless @order.first_step? %></p>
<% end %>

<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), 
express_checkout_url %>

<%= debug @order %>

----

<%= "Paypal Express Token: #{raw debug @order.express_token}" %>
