<% title "your order" %>

<% content_for(:left) do %>
	<%= render :partial => 'users/profile_links', :user => @user %>
<% end %>

<div class="order_detail">
	<p>
		<b><%= t("orders.order_nr") %>:</b> <%= @order.order_nr %>
	</p>
	<p>
		<b><%= t("orders.date") %>:</b> <%= @order.created_at.strftime("%B %d, %Y, %H:%M") %>
	</p>
	<p>
		<b><%= t("orders.name") %>:</b> <%= "#{@order.first_name} #{@order.last_name}" %>
	</p>
	<p>
		<b><%= t("adress.shipping") %>:</b> <%= "#{@order.adress1} #{@order.adress2}, #{@order.zipcode} #{@order.city}, #{@order.country}" %>
	</p>
	<p>
		<b><%= t("orders.payment_method") %>:</b> <%= @order.express_payer_id? ? "Paypal" : "Credit Card" %>
	</p>

	<p>
		<b><%= t("orders.articles") %>:</b> <%= "#{pluralize(@order.cart.total_items, 'Article')} (#{number_to_currency (@order.cart.total_price.to_money.exchange_to("GBP"))})" %>
	</p>
	<p>
		<table class="pretty" cellpadding="5" cellspacing="3" border="1">
			<tr>
				<th><%= t("orders.image") %></th>
				<th><%= t("orders.title") %></th>
				<th><%= t("orders.reference_nr") %></th>
				<th><%= t("orders.quantity") %></th>
				<th><%= t("orders.price") %></th>
			</tr>
		<% @order.cart.line_items.each do |li| %>
		<tr>
			<td><% li.product.assets.first(1).each do |asset| %>
				<%= link_to(image_tag(asset.image.url(:mini).to_s, :width => 50), li.product, :title => li.product.title )%>
				<% end %> 
			</td>
			<td><%= li.product.title %>	</td>
			<td><%= li.product.product_code %></td>
			<td><%= li.quantity %></td>
			<td><%= number_to_currency(li.full_price.to_money.exchange_to("GBP")) %></td>
		</tr>
		<% end %>
		</table>
	</p>
	<p>
		<b><%= t("orders.shipping_method") %>:</b> <%= "#{@order.shipping_method.name} (#{number_to_currency (@order.shipping_method.price.to_money.exchange_to("GBP"))})" %>
	</p>
	<p>
		<b><%= t("orders.total") %>:</b> <%= number_to_currency (@order.total_price.to_money.exchange_to("GBP")) %>
	</p>
	<p>
		<b><%= t("orders.status") %>:</b> <%= @order.order_status.name %>
	</p>		
	<br/>
	<p>
		<%= link_to t("orders.all_orders"), orders_path %>
	</p>
</div>
