<% title t 'pages.info' %>

<% content_for(:head) do %>
 <script type="text/javascript" charset="utf-8">
 	$(function () {
		$('a.question').each(function () {
			$(this).click(function () {
				$(this).next().next().slideToggle();
				//alert('muh');
			})
		})
	});
 </script>
<% end %>

<h1><%= t 'pages.info' %></h1>
<div class="faq">
<h2><%= t 'faq.general' %></h2>

<a class="question"><%= t'faq.questions.1' %></a><br/>
<div class="answer">
Our customer service is there for you 24 hours a day, 365 days a year. We answer
emails 24/7 and we aim to answer all enquires within 12 hours, but usually much quicker.
</div>
<br/>
<a class="question"><%= t'faq.questions.2' %></a><br/>
<div class="answer">
You can shop at SOTACA1898 without creating an account, but if you do set one up,
you'll receive the following fabulous benefits:<br/>

<ul>
	<li>Track your order and review past purchases</li>
	<li>Request your return or exchange directly from your account</li>
	<li>Shop without entering your address or card details</li>
	<li>Be the first to know about upcoming Flash sales or any promotion at the same time</li>
</ul>
<br/>
You will be given the opportunity to create an account after you make a purchase - all
you need to do is add a password.
</div>
<br/>
<a class="question"><%= t'faq.questions.3' %></a><br/> 
<div class="answer">
We are working for a better environment and promote the use of recycled materials
whenever possible and ensure that they are disposed of in an environmentally safe way.<br/>
If you received your goods in a pre-used package - you know why.
</div>
<br/>
<a class="question"><%= t'faq.questions.4' %></a><br/>
<div class="answer">
We make shopping simple and safe for our customers:<br/>
7 day return policy - easy returns<br/>
We have a 7 day return policy - no questions asked. If you are not happy with your
purchase, just return it to us within 7 days from arrival for a refund or exchange.
24/7 customer service<br/>
Our customer service is there for you 24 hours a day, 365 days a year.<br/>
Free shipping<br/>
Always free shipping within UK when you spend over ￡100. Occasionally there will be a
free shipping promotion on the site for a limited period of time of international shipping.<br/>

Several payment methods<br/><br/>
Payment by card - VISA, VISA Electron, MasterCard, American Express, Solo,
Payment by Paypal.<br/>
Payment by Alipay.com<br/><br/>
Shop with confidence.<br/>
No hidden fees, safe payment methods and all orders are shipped from our warehouse
via traceable and insured mail.<br/><br/>
Product measurements<br/>
We measure all our products to give you an idea how they fit.<br/>
</div>
<br/>
<a class="question"><%= t'faq.questions.5' %></a><br/> 
<div class="answer">
Going &amp; Gone sale<br/>
Time-limited - usually up to 72 hours - and you'll need to register first and sign in before
you shop.<br/><br/>
Best style reward<br/>
At SOTACA1898, we believe the best things in life are... free! Once a month we offer a
free shopping opportunity to one of our existing customers. The only thing you need to
do is send back one image about how you dress up with our product. There will be a vote
every month on our website; the winner will get free shopping experience worth ￡88 on
our website.
</div>
<br/>
<h2><%= t 'faq.payment' %></h2>

<a class="question"><%= t'faq.questions.6' %></a><br/>
<div class="answer"> 
Payment by card<br/>
<br/>
We accept Visa, Visa Electron, MasterCard, American Express, Delta and Maestro credit
and debit cards.<br/>
<br/>
Payment by PayPal.<br/>
Payment by Alipay.com
</div>
<br/>
<a class="question"><%= t'faq.questions.7' %></a><br/> 
<div class="answer">
We use Secure Sockets Layer (SSL) technology to provide you with the safest, most
secure shopping experience possible. SSL technology enables encryption (scrambling)
of sensitive information during your online transactions. You're safe with us.
</div>
<br/>
<a class="question"><%= t'faq.questions.8' %></a><br/>
<div class="answer">
Verified by VISA and MasterCard Secure Code are services that password-protects your
card details, to give added security when you shop online. They allow you to create a
password that is known only to yourself, to use every time you use your card online. You
can sign up by contact the bank that issued your card.
</div>
<br/>
<a class="question"><%= t'faq.questions.9' %></a><br/> 
<div class="answer">
Your refund is given once we have received the return and we have had an opportunity to
inspect the product(s). Inspections are completed within 5 business days after receiving the
product(s).<br/>
Payment by card/PayPal/Alipay<br/>
Your refund will be given within the time frame above.<br/>
</div>
<br/>
<h2><%= t 'faq.delivery' %></h2>

<a class="question"><%= t'faq.questions.10' %></a><br/> 
<div class="answer">
We deliver to most countries around the world. Contact us if you have any questions or
concerns.
</div>
<br/>
<a class="question"><%= t'faq.questions.11' %></a><br/> 
<div class="answer">
United Kingdom<br/>
£3.95<br/>
3-5working days<br/><br/>
Mainland Europe<br/>
£5.95<br/>
5-7 working days<br/><br/>
International<br/>
£7.50 + tax<br/>
5-7 working days<br/>
If your country is a member of the European Union - there will be NO custom fees to pay.
</div>
<br/>
<a class="question"><%= t'faq.questions.12' %></a><br/> 
<div class="answer">
We aim to dispatch all orders within 48 hours. Our delivery time from 9am-5.30pm, Monday
to Friday. Your order typically arrives within 1-2 weeks, but can be faster depending on
your location. Estimated delivery times are to be used as a guide only and commence
from the date of dispatch, Sotaca1898 are not responsible for any delays caused by
destination customs clearance processes.
</div>
<br/>
<a class="question"><%= t'faq.questions.13' %></a><br/> 
<div class="answer">
For domestic purchases, we ship via Royal mail. For international purchases, we ship via
EMS. Both include tracking and signature confirmation.
</div>
<br/>
<a class="question"><%= t'faq.questions.14' %></a><br/> 
<div class="answer">
You will be sent an email with tracking number once you order has been dispatched. You
can check the current status of your shipment by signing into your account and selecting
My Orders.
</div>
<br/>
<a class="question"><%= t'faq.questions.15' %></a><br/> 
<div class="answer">
When ordering from SOTACA1898 you are considered the importer of record and must
comply with all the laws and requirements of the country in which you are receiving
the items. Your orders may be subject to import duties and/or taxes and any additional
charges for custom clearance must be borne by you. SOTACA1898 has no control
over these charges and does not assume responsibility for the ordered goods meeting
local customs laws and/or duties and taxes. Custom policies vary widely from country
to country, and you should contact your local customs office for further information.<br/>
If the package is refused due to your refusal to pay customs tax and/or duties, and
subsequently returned to us, you will be responsible for the return shipping charges and
a re-stocking fee of 15% of the total product purchase price. The balance will then be
refunded back to you. Contact us if you have any question or requirements.
</div>
<br/>
<h2><%= t 'faq.product_information' %></h2>

<a class="question"><%= t'faq.questions.16' %></a><br/> 
<div class="answer">
As an authorized online distributor for all of the designers we feature, we unconditionally
guarantee that every item we sell is 100% authentic. We accept free refund if the product
be proved not genuine.
<br/><br/>
Please note that we are unable to comment on the authenticity of any items not
purchased from SOTACA1898.
</div>
<a class="question"><%= t'faq.questions.17' %></a><br/> 
<div class="answer">
Clothing<br/>
We measure all our products to give you an idea how they fit.<br/>
Some products are sold by the international sizing scheme used by the designer. To
convert this to your usual size, simply click on the 'sizing charts' link which you will find on
every product page.<br/><br/>
Shoes<br/>
All our shoes are measured from outer sole to toes. Please measure your feet and pick
the size that fits you best.
</div>
<br/>
<a class="question"><%= t'faq.questions.18' %></a><br/> 
<div class="answer">
We recommend hand washing or machine washing in cool water (30 degrees) for most
our products if there is no washing advice sign.
</div>
<br/>
<h2><%= t 'faq.refund' %></h2>

<a class="question"><%= t'faq.questions.19' %></a><br/> 
<div class="answer">
Unfortunately we are unable to amend or cancel an order once it has been submitted. If
you wish to change your order please contact us in 24H after you order.
</div>
<br/>
<a class="question"><%= t'faq.questions.20' %></a><br/> 
<div class="answer">
We have a 7 day return policy - no questions asked. Your refund is given once we have
received the return and we have had an opportunity to inspect the product(s). Inspections
are completed within 5 business days after receiving the product(s).
</div>
<br/>
<a class="question"><%= t'faq.questions.21' %></a><br/> 
<div class="answer">
Making a return or exchange is easy using our collection service. Just make sure you
request your return/exchange within 7 days of receiving your order.
</div>
<br/>
<h2><%= t 'faq.affiliation' %></h2>

<a class="question"><%= t'faq.questions.22' %></a><br/> 
<div class="answer">
We are looking for websites to join our free and invitation-only affiliate program. As a
member of the program, you can earn 10% commission when your visitors buy from
SOTACA1898. Payments are issued on day 15 of each month. Or you want to open a whole
sale account with us. Please click on Affiliation/Whole sale in the bottom of the store.
</div>
<br/>
<a class="question"><%= t'faq.questions.23' %></a><br/> 
<div class="answer">
We welcome unique and innovative ideas and are eager to form partnerships with the
firms possessing the superior technology in the filed of apparel industry. Kindly send us
proposals through the contact detail below, and we will get in touch with you promptly
leegoo@sotaca1898.com
</div>
<br/>

<h2><%= t 'faq.press' %></h2>

<a class="question"><%= t'faq.questions.24' %></a><br/> 
<div class="answer">
We happy to sharing our product /picture with you, and more people. Just inform us at
press@sotaca1898.com with your website/blog address.
</div>
<br/>
<a class="question"><%= t'faq.questions.25' %></a><br/> 
<div class="answer">
If you are a journalist or stylist you are welcome contact us at press@sotaca1898.com for
more information.
</div>
<br/>
<br/>
</div>