<% title t('pages.info'), false %>

<% content_for(:head) do %>
 <script type="text/javascript" charset="utf-8">
 	$(function () {
		$('a.question').each(function () {
			$(this).click(function () {
				$(this).next().next().slideToggle();
				//alert('muh');
			})
		})
	});
 </script>
<% end %>

<div class="faq">
<h2><%= t 'faq.general' %></h2>

<a class="question"><%= raw t'faq.questions.q1' %></a><br/>
<div class="answer">
<%= raw t'faq.answer.a1' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q2' %></a><br/>
<div class="answer">
<%= raw t'faq.answer.a2' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q3' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a3' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q4' %></a><br/>
<div class="answer">
<%= raw t'faq.answer.a4' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q5' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a5' %>
</div>
<br/>
<h2><%= t 'faq.payment' %></h2>

<a class="question"><%= raw t'faq.questions.q6' %></a><br/>
<div class="answer"> 
<%= raw t'faq.answer.a6' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q7' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a7' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q8' %></a><br/>
<div class="answer">
<%= raw t'faq.answer.a8' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q9' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a9' %>
</div>
<br/>
<h2><%= t 'faq.delivery' %></h2>

<a class="question"><%= raw t'faq.questions.q10' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a10' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q11' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a11' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q12' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a12' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q13' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a13' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q14' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a14' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q15' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a15' %>
</div>
<br/>
<h2><%= t 'faq.product_information' %></h2>

<a class="question"><%= raw t'faq.questions.q16' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a16' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q17' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a17' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q18' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a18' %>
</div>
<br/>
<h2><%= raw t'faq.refund' %></h2>

<a class="question"><%= raw t'faq.questions.q19' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a19' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q20' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a20' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q21' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a21' %>
</div>
<br/>
<h2><%= t 'faq.affiliation' %></h2>

<a class="question"><%= raw t'faq.questions.q22' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a22'.html_safe %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q23' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a23' %>
</div>
<br/>

<h2><%= t 'faq.press' %></h2>

<a class="question"><%= raw t'faq.questions.q24' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a24' %>
</div>
<br/>
<a class="question"><%= raw t'faq.questions.q25' %></a><br/> 
<div class="answer">
<%= raw t'faq.answer.a25' %>
</div>
<br/>
<br/>
</div>