<% for line_item in cart.line_items %>
	  
	    <tr class="border <%= cycle :odd, :even %>">
	      <td>
	      	<div class="image">	
					<%= link_to(image_tag(line_item.product.assets.first.image.url(:mini).to_s), line_item.product, :title => line_item.product.title )%>
		    </div>
	      </td>
	      <td>
			<div class="details">
				<b><%= link_to line_item.product.title, line_item.product, :title => t('products.details') %></b><br/>
				   <%= line_item.product.subtitle %><br/>
				   Unit Price: <%= number_to_currency(line_item.unit_price.exchange_to(session[:currency])) %><br/><br/>
				   Size: L <br/>
				   Color: black<br/>
			</div>
		  </td>
	      <td>
			<div class="quantity">
			<span class="amount"><b><%= line_item.quantity %></b></span><br/>
			<span class="remove_item">
				<%= link_to "x", line_item, :confirm => 'Remove from cart?', :method => :delete %>
				<%= link_to "+" %>
				<%= link_to "-" %>
			</span>
			</div>
		  </td>
	      <td class="price"><b><%= number_to_currency(line_item.full_price.exchange_to(session[:currency])) %></b></td>
	    </tr>
	  <% end %>