<table id="line_items">
	  <tr class="border">
	    <th><%= t("cart.article") %></th>
	    <th><%= t("cart.details") %></th>
	    <th><%= t("cart.quantity") %></th>
	    <th><%= t("cart.price") %></th>
	  </tr>

	
	  <%= render :partial => 'articles_in_cart', :locals => { :cart => cart } %>

	  <tr class="promo">
	    <td>
	      Got a promo code?
	    </td>
	    <td>
			<input id="promocode" size="21"></input>
	    </td>
		<td colspan="2">
			<%= image_tag "update.jpg" %>
	  </tr>
	  <tr>
	    <td>
	    </td>
		<td>
			  <%= link_to t("cart.continue_shopping"), products_path, :class => "funkybutton extrabig" %>
		</td>
	    <td>
			<b>Sub Total</b>
	    </td>
	    <td>
	 		<b><%= number_to_currency (cart.total_price.exchange_to(session[:currency])) %></b>
	    </td>
	  </tr>
	<tr>
		<td colspan="2">
		</td>
		<td colspan="2">
			<%# form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>  
		      <%# hidden_field_tag :cmd, "_s-xclick" %>  
		      <%# hidden_field_tag :encrypted, cart.paypal_encrypted(products_url, payment_notifications_url, cart.line_items.first.unit_price.currency_as_string ) %>  
		        <p><%= link_to t("actions.checkout"), new_order_url, :class => "funkybutton extrabig" %></p>  
		    <%# end %>
		</td>	
	</tr>
	</table>
	<p>
	  <%= link_to t("store.empty_cart"), cart, :confirm => 'Empty the cart?', :method => :delete %>
	</p>