<% content_for(:left) do %>
	<%= render :partial => 'users/profile_links', :user => current_user %>
<% end %>
<% sa = current_user.adresses.shipping.first %>
<% ba = current_user.adresses.billing.first %>
<div id="user_adresses">
<h2><%= t("adress.shipping")%> </h2>
<% if sa %>
	<div class="adress_overview">
		<%= "#{sa.first_name} #{sa.last_name}" %> <br/>
		<%= "#{sa.adress1}" %> <br/>
		<%= "#{sa.adress2}" %> <br/>
		<%= "#{sa.zip} #{sa.city}" %> <br/>
		<%= "#{sa.country}" %> <br/>
		<%= t("adress.phone1") + ": #{sa.phone1}" %> <br/>
		<%= t("profile.email") + ": #{sa.user.email}" %> <br/>
		<%= button_to t("actions.edit"), edit_adress_path(sa), :class => "edit_adress funkybutton", :method => :get  %>
	</div>
<% else %>
	<div class="no_adress_yet">
		<%= t("adress.not_have_s")%>  <%= link_to  t("adress.add_one") , new_adress_path(:type => 1 ) %>
	</div>
<% end %>

<h2><%= t("adress.billing")%> </h2>
<% if ba %>
	<div class="adress_overview">
		<%= "#{ba.first_name} #{ba.last_name}" %> <br/>
		<%= "#{ba.adress1}" %> <br/>
		<%= "#{ba.adress2}" %> <br/>
		<%= "#{ba.zip} #{ba.city}" %> <br/>
		<%= "#{ba.country}" %> <br/>
		<%= t("adress.phone1") + " #{ba.phone1}" %> <br/>
		<%= t("profile.email") + " #{ba.user.email}" %> <br/>
		<%= button_to t("actions.edit"), edit_adress_path(ba), :class => "edit_adress funkybutton", :method => :get %>
	</div>
<% else %>
	<div class="no_adress_yet">
		You currently do not have an billing adress associated to you account. <%= link_to t("adress.add_one"), new_adress_path(:type => 2)  %>
	</div>
<% end %>
	
</div>	




