<p>
  <b>Adress Type:</b>
  <%= @adress.adress_type %>
</p>

<p>
  <b>Title:</b>
  <%= @adress.title %>
</p>

<p>
  <b>First Name:</b>
  <%= @adress.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @adress.last_name %>
</p>

<p>
  <b>Country:</b>
  <%= @adress.country %>
</p>

<p>
  <b>Adress1:</b>
  <%= @adress.adress1 %>
</p>

<p>
  <b>Adress2:</b>
  <%= @adress.adress2 %>
</p>

<p>
  <b>City:</b>
  <%= @adress.city %>
</p>

<p>
  <b>County:</b>
  <%= @adress.county %>
</p>

<p>
  <b>Zip:</b>
  <%= @adress.zip %>
</p>

<p>
  <b>Phone1:</b>
  <%= @adress.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @adress.phone2 %>
</p>


<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
