<% form_for @support, :url => { :controller => "supports", :action => "create" }, :html => { :method => :post } do |f| %>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td class="label"><%= f.label t"contact.name" %>*</td>
		<td class="input"><%= f.text_field :sender_name, :value => current_user ? current_user.username : nil %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label t"contact.email" %>*</td>
		<td class="input">
			<%= f.text_field :email, :value => current_user ? current_user.email : nil  %>
		</td>
	</tr>
	<tr>
		<td class="label"><%= f.label t"contact.type" %></td>
		<td class="input"><%= f.select :support_type, options_for_select([   t("contact.types.type1"), t("contact.types.type6"), t("contact.types.type2"), t("contact.types.type3"), t("contact.types.type4")]) %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label t"contact.order_nr" %></td>
		<td class="input"><%= f.text_field :order_nr %></td>
	</tr>
	<tr>
		<td colspan="2" style="font-size: 11px">
			<i><%= t('contact_text.text2') %></i>
		</td>
	</tr>
	<tr>
		<td class="label"><%= f.label t"contact.item_id" %></td>
		<td class="input"><%= f.text_field :item_id %></td>
	</tr>
	<tr>
		<td colspan="2" style="font-size: 11px">
			<i><%= t('contact_text.text3') %></i>
		</td>
	</tr>
	<tr>
		<td class="label"><%= f.label t"contact.message" %>*</td>
		<td class="input"><%= f.text_area :content %></td>
	</tr>
	<tr>
		<td class="label"></td>
		<td class="input small"><%= f.submit t('actions.submit') %></td>
	</tr>
</table>

<% end %>