<h1>Listing start_images</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @start_images.each do |start_image| %>
  <tr>
    <td><%= start_image.link %></td>
    <td><%= start_image.image %></td>
    <td><%= link_to 'Show', start_image %></td>
    <td><%= link_to 'Edit', edit_start_image_path(start_image) %></td>
    <td><%= link_to 'Destroy', start_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Start image', new_start_image_path %>
