<% title t('profile.wishlist') %>

<% content_for (:head) do %>
 <script type="text/javascript" charset="utf-8">

 	$(function(){
		$('div[id^="photo"] img').load(function(){
				$(this).closest('div').find('.loading').delay(100).fadeOut('slow');
		});
	$(window).load(function() {
		$('.loading').fadeOut('slow');
	});
});
 </script>
<% end %>

<% content_for(:left) do %>
	<%= render :partial => 'users/profile_links', :user => @user %>
<% end %>
<div id="user_adresses">
<h2><%= t('profile.wishlist') %></h2>

<div class="product_overview">
	<%= render @products%>
	<div class="clear"></div>
</div>
<div id="paginator">
 Sort by: <%= select_tag(:order_key, options_for_select([['Newest items', 'created_at'], ['Alphabetical', 'title'], ['Prices', 'price']])) %>
<br/>
<% # link_to "View all pages", {:controller => "products", :action => "index", :per_page => 1000 } %>
<%= paginate @products %>
</div>

</div>