<%= nested_form_for @product, :html => {:multipart => true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>	
<br/>
	<%= f.fields_for :assets do |asset| %>	
		<% if asset.object.new_record? %>
			<%= asset.file_field(:image) %>
	
		<% else %> 
			<%= image_tag(asset.object.image.url(:thumb)) %>
			<%= asset.hidden_field :_destroy %>
			<%= asset.link_to_remove "remove" %>
		<% end %>
	
	<% end %>
	
	<p><%= f.link_to_add "Add image", :assets %></p>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
