<% title "Products" %>


  <% for product in @products %>
    <div class="product">
	  <h3><%= product.title %></h3>
	  <p><%= product.description %></p>
	   
		<div class="images">
			<% for img in product.images %> 
				<p><%= img.title %></p>
			<% end %>
	    </div> 
		
	   
      <%= link_to "Details", product %>
		<% if can? :edit, product %>
      		<%= link_to "Edit", edit_product_path(product) %>
      		<%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
   	</div>
  <% end %>

<% if can? :create, Product %>
<p><%= link_to "New Product", new_product_path(product) %></p>
<% end %>
