<% title @product.title %>

<% content_for (:head) do %>
 <script type="text/javascript" charset="utf-8">
	changeImage = function (url) {
		$('#main_image img').attr("src", url);
	}
 </script>
<% end %>

<div class="product_detail">
	<div class="column">
		<div class="infos">
			<h1><%= @product.title %></h1>
			<p class="subtitle">
			  <%= @product.subtitle %>
			</p>		
		  <span class="product_price"><%= number_to_currency(@product.price.exchange_to(session[:currency])) %></span>
		<br/>
		<div class="subheadline">
			<%= t'products.details' %>
		</div>
		<p class="red_text">
			<%= @product.description %>
		</p>
		<div class="subheadline">
			<%= t 'products.size_fit' %>
		</div>
		<p class="red_text">
			Size: between sizes S, M. Length -95 cm
		</p>		
		<div class="size_selectors">
			//todo: size selectors
		</div>
		
		<div class="subheadline">
			<%= link_to t('products.add_to_cart'), line_items_path(:product_id => @product), :method => :post, :title => t('products.add_to_cart') %>
			
		</div>		
		<div class="subheadline">
			<%= t 'products.add_to_wishlist' %>
		</div>		
		<div class="subheadline">
			<%= t 'products.tell_a_friend' %>
		</div>
		<br/><br/>
		<div class="subheadline">
			<%= t 'products.categories' %>
		</div>
		<div class="categories">
			<% if !@product.categories.blank? %>
			  <% for cat in @product.categories %>
			   <span class="category_link">
			    <%= link_to cat.name, :action => 'index', :category => cat.id %>
				</span>
			  <% end %>
			<% else %>
     			<%= t 'products.uncategorized' %>
			<% end %>
		</div>
		</div>
	</div>
	<div class="column" style="width:auto">
		<div id="main_image">
			  <% if @product.assets.first %>	
			  	<%= image_tag @product.assets.first.image_url(:big).to_s %>
			  <% else %>
				<%= image_tag "dummy.jpg" %>
			  <% end %>
		</div>
		<div id="likes">
			<span class="image">
				<% form_for ProductLike.new do |f| %>
				  <%= f.hidden_field :user_id, :value => (current_user ? current_user.id : nil) %>
  				  <%= f.hidden_field :product_id, :value => @product.id %>
				  <%= image_submit_tag "like.jpg", :title => "i like it", :class => "heart" %>
				<% end %>
			</span>
			<span id="count"><%= @product.users.count %></span>
		</div>
		<div id="related_products">
			<h3><%= t 'products.related' %></h3>
		</div>
	</div>
	<div class="column"  style="width: 125px">
		<% for asset in @product.assets do %>
		<div class="img_item">
		  <a href="javascript: changeImage('<%= asset.image_url(:big).to_s %>')">
		  <%= image_tag asset.image_url(:thumb).to_s %>
		  </a>
		</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>
<p>
  <%= link_to "Edit", edit_product_path(@product) %> |
  <%= link_to "Destroy", @product, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", products_path %>
</p>
