<% title @product.title %>
<% available =  @product.stock_items.count > 0 ? true : false %>
<% content_for (:head) do %>
 <script type="text/javascript" charset="utf-8">
var product_available = <%= available %>;
var total_amount = <%= current_cart.total_items %>;
var total_price = <%= (current_cart.total_price).exchange_to(session[:currency]) %>;
var currency = "<%= session[:currency] %>";
var product_price = <%= @product.price %>;
var product_link = "";
var facebx = null;
 </script>
<%= javascript_include_tag 'product.js' %>
<%= javascript_include_tag 'scrollto.js' %>
<%= javascript_include_tag 'tiptip.js' %>
<%= stylesheet_link_tag 'tiptip' %>
<script type="text/javascript" charset="utf-8">
add_stock_item = function (stock_item_id) {
	var new_link = product_link + '&stock_item_id=' + stock_item_id;
	$('#add_product_link').attr('href', new_link);
	$('.add_to_cart_btn:first a').attr('href', new_link);
}
prepare_emtpy = function () {

	var str = '<div class="popup"><div class="content">';
			str += '<p>The product is currently not available</p>';
			str += '<%= link_to t('products.add_to_wishlist'), add_to_wishlist_url(:product_id => @product.id), :method => :post, :remote => true %><br/>';
			str += '<a id="facebox_close" onclick="jQuery(\'#facebox_overlay\').click();" href="javascript:void(0);">close</a><br>';
			str += '</div></div>';
			return str;

}
show_cart_info = function () {
  $("#just_added").html(prepare_cart_preview("<%= @product.assets.first.image_url(:thumb).to_s %>", "<%= @product.title %>" ));
	jQuery.facebox({ div: '#just_added' });
}
show_cart_info_cn = function () {
  $("#just_added").html(prepare_cart_preview_cn("<%= @product.assets.first.image_url(:thumb).to_s %>", "<%= @product.title %>" ));
	jQuery.facebox({ div: '#just_added' });
}
show_empty = function () {
	jQuery.facebox({ div: '#just_added' });
	return false;
}

	$(document).ready(function () {

		if (product_available) {
			// product is on stock
			product_link = $('#add_product_link').attr('href');
			$('.size_selectors select').change(function () {
				add_stock_item($(this).val());
			});
			add_stock_item($('.size_selectors select option:first').val());
		} else {
			// product is not on stock
			$("#just_added").html(prepare_emtpy());
		}   
		$('#add_to_cart_img').hover(
				function () { 
					 $(this).attr("src", "/images/add_to_cart_pink.png");
					},
				function () {
					$(this).attr("src", "/images/add_to_cart_grey.png");
				}
			);
		
			
			
	});
</script>
<% end %>

<div class="product_detail">
	<div class="column">
		<div class="infos">
			<h1><%= @product.title %></h1>
			<p class="subtitle">
			  <%= @product.subtitle %>
			</p>		
		  <span class="product_price"><%= number_to_currency(@product.price.exchange_to(session[:currency])) %></span>
		<br/>
		<div class="subheadline">
			<%= t'products.details' %>
		</div>
		<div class="fixed_h1" >
			<p class="red_text">
				<%= markdown(@product.description) %>
			</p>
		</div>
		<div class="subheadline">
			<%= t 'products.size_fit' %>
		</div>
		<div class="fixed_h2">
	   	 	<p class="red_text">
				<% if available  %>
				  <% if current_user &&  current_user.admin? %>
					<%= pluralize(@product.total_stock, "item")%> in stock 
					<% end %>
				<% else %>
				    <%= t "products.out_of_stock" %>
				<% end %>
				
	   	 	</p>
				<% if available %>
				<div class="size_selectors">
					<div class="selector">
					Color: 
					<%= select_tag "color", options_for_select(@product.stock_items.collect{ |s| [s.color, s.id ] })%>
					</div>
					<div class="selector">
					Size: 
					<%= select_tag "size", options_for_select(@product.stock_items.collect{ |s| [s.size, s.id ] })%>
					</div>
				</div>
				<% end %>
		</div>
		<div class="subheadline">
			<% if current_user && current_user.wishlist.products.include?(@product) %>
				<%= t "products.in_wishlist" %>
			<% else %>
				<%= link_to t('products.add_to_wishlist'), add_to_wishlist_url(:product_id => @product.id), :method => :post, :remote => true, :id => 'wishlist_link' %>
			<% end %>
		</div>		
		<div class="subheadline">
			<%= t 'products.tell_a_friend' %>
		</div>
		<div class="subheadline">
			<% if available %>
				<%= link_to t('products.add_to_cart'), line_items_path(:product_id => @product), :method => :post, :remote => true,  :id => 'add_product_link', :title => t('products.add_to_cart'), :onclick => "show_cart_info();" %>
			<% else %>
			  <%= link_to t('products.add_to_cart'), nil, :remote => true, :onclick => "show_empty();"  %>
			<% end %>
		</div>

		</div>
	</div>
	<div class="column" style="width:auto">
		<div id="main_image">
			  <% if @product.assets.first %>	
			  	<%= image_tag @product.assets.first.image_url(:big).to_s %>
			  <% else %>
				<%= image_tag "dummy.jpg" %>
			  <% end %>
			<div class="loading">
			</div>
			<div class="add_to_cart_btn">
				<% if available %>
					<%= link_to t("products.add_to_cart"), line_items_path(:product_id => @product), :id => "add_to_cart_button", :method => :post, :remote => true, 
					:title => t('products.add_to_cart'), :onclick => t("cart.show_info") %>
				<% else %>
				  <%= link_to t("products.add_to_cart"), nil, :id => "add_to_cart_button", :remote => true, :onclick => "show_empty();" %>
				<% end %>
			</div>
		</div>
		<div id="likes">
			<span class="image">
				<% form_for ProductLike.new do |f| %>
				  <%= f.hidden_field :user_id, :value => (current_user ? current_user.id : nil) %>
  				  <%= f.hidden_field :product_id, :value => @product.id %>
				  <%= image_submit_tag "like.jpg", :title => "i like it", :class => "heart" %>
				<% end %>
			</span>
			<span id="count"><%= @product.users.count %></span>
		</div>
	</div>
	<div class="column"  style="width: 125px">
		<div id="arrow_up"><%= image_tag "arrow_up.jpg" %></div>
		<div class="image_wrapper" id="scrolldiv">
		  <% img_counter = 0 %>
	      <% for asset in @product.assets do %>
		 	<% if (img_counter == 0) || (img_counter % 3 == 0)  %>
				<div class="wrapper_img_item" id='<%= "wrapper_#{img_counter}" %>'>
		 	<% end %>
	      	<div class="img_item">
	       		<a href="javascript: changeImage('<%= asset.image_url(:big).to_s %>')"> 
	     <!--  <a href="<%= asset.image_url(:big).to_s %>" rel="facebox"> -->
	        		<%= image_tag asset.image_url(:thumb).to_s %>
	        	</a>
	      	</div>
		  	<% if (img_counter == 0) || (img_counter % 3 == 0) %>
				</div>
		  	<% end %>
		  	<% img_counter += 1%>
	      	<% end %>
		</div>
		<div id="arrow_down"><%= image_tag "arrow_down.jpg" %></div>
	</div>
	<div class="clear"></div>
	<div id="just_added" style="display:none;">
		<!-- content will be dynamically added -->
		
	</div>
</div>

<% if can? :update, Product %>
<p>
  <%= link_to "Edit", edit_product_path(@product) %> |
  <%= link_to "Destroy", @product, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", products_path %>
</p>

<%# debug current_cart %>
<% end %>
