<% title t('profile.show'), false %>

<div class="profile">
	<h2><%= t('welcome') %> <%= current_user.username %>!</h2>
	
	<p><%= t('account_page') %></p>
	
	<ul>
		<li class="squared">
			<a href="<%= adresses_path %>">
				<div>
					<span class="headline"><%= t "profile.adress_book" %></span>
					<p>
					<%= t "profile.manage" %>
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="/orders?locale=<%= I18n.locale %>">
				<div>
					<span class="headline"><%= t "profile.orders" %></span>
					<p>
					<%= t "profile.track" %>
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="<%= change_password_path %>">
				<div>
					<span class="headline"><%= t "profile.password" %></span>
					<p>
					<%= t "profile.information" %>
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="<%= edit_user_path(current_user) %>">
				<div>
					<span class="headline"><%= t "profile.email" %></span>
					<p>
					<%= t "profile.email_settings" %>
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="<%= wishlist_path%>">
				<div>
					<span class="headline"><%= t "profile.wishlist" %></span>
					<p>
					<%= t "profile.in_wishlist" %>
					</p>
				</div>
			</a>
		</li>

	</ul>

<div class="clear"></div>
	
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	
	<p><%= image_tag("like.jpg", :width => 40, :title => t("profile.tell_us") ) %> <%= link_to t("profile.tell_us"), contact_url %></p>
	
</div>

