<% title t('profile.show'), false %>

<div class="profile">
	<h2><%= t('welcome') %> <%= current_user.username %>!</h2>
	
	<p><%= t('account_page') %></p>
	
	<ul>
		<li class="squared">
			<a href="<%= adresses_path %>">
				<div>
					<span class="headline">Adress Book</span>
					<p>
					Manage billing<br/>
					and shipping adresses
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="/orders?locale=<%= I18n.locale %>">
				<div>
					<span class="headline">My Orders</span>
					<p>
					Track, exchange or return orders and view your order history
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="<%= change_password_path %>">
				<div>
					<span class="headline">My Password</span>
					<p>
					View or change your information
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="<%= edit_user_path(current_user) %>">
				<div>
					<span class="headline">My E-Mail</span>
					<p>
					Review and update your email settings
					</p>
				</div>
			</a>
		</li>
		
		<li class="squared">
			<a href="<%= wishlist_path%>">
				<div>
					<span class="headline">My Wishlist</span>
					<p>
					See which articles are in your wishlist
					</p>
				</div>
			</a>
		</li>

	</ul>

<div class="clear"></div>
	
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	
	<p><%= image_tag("like.jpg", :width => 40, :title => "Tell us what you think") %> <%= link_to "Tell us what you think. We value your feedback!", contact_url %></p>
	
</div>

