<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "Sotaca 1898 - #{yield(:title)}" : "Sotaca 1898" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults, "nested_form"  %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id="container">
		<% if can? :update, [Product] %>
		<div class="admin_panel">
			<a id="admin_button" href="#">Admin Panel</a>
			<div id="admin_pane">
				<div class="admin_group">
					<h3>Products</h3>
					<ul>
						<li><%= link_to "add product", new_product_path %></li>
						<li><%= link_to "categories" %> </li>
						<li><%= link_to "offers" %></li>
					</ul>
				</div>
				<div class="admin_group">
					<h3>Clients</h3>
					<ul>
						<li>link1</li>
						<li>link2</li>
						<li>link3</li>
					</ul>
				</div>
				<div class="admin_group">
					<h3>Orders</h3>
					<ul>
						<li>link1</li>
						<li>link2</li>
						<li>link3</li>
					</ul>
				</div>
			</div>
		</div>
		<br class="clear">
		<% end %>
	  <div class="header">
		<%= debug session[:locale] %>
		<%= l(Date.today) %>
	  	<h1> <%= t('welcome') %></h1>
	  	<div class="top">
	  	
	  		<div id="logo">		
	  			<%= link_to image_tag('logo.jpg'), home_url %>
	  		</div>
			<br/>
	  		<div id="languages">
	  			<ul>
	  				<li><a href="#"><%= link_to t('chinese'), url_for( :locale => 'cn' ) %></a></li>
	  				<li><a href="#"><%= link_to t('english'), url_for( :locale => 'en' ) %></a></li>
	  			</ul>
	  		</div>
	  	
	  	</div>
	  	<div class="middle">
	  		<div id="login_menu">
	  			<% if user_signed_in? %>  
		        <%= link_to current_user.username, home_url %> |  
		        <%= link_to t("devise.links.logout"), destroy_user_session_path %>  
		      <% else %>  
				<%= link_to t("devise.links.login"), new_user_session_path %> |  
		        <%= link_to t("devise.links.register"), new_user_registration_path %>  
		      <% end %>
	  				
	  		</div>
	  		<div id="cart_menu">
	  			<ul>
	  				<li>
					<%= image_tag("cart.jpg")%>
					</li>
					<li>
					<%= link_to "#{current_cart.number_of_items}", current_cart_url %>
					
					</li>
	  				<li><a href="/checkout/">Checkout</a></li>
	  			</ul>
	  		</div>
	  	</div>
	  	<div id="main_navi">
	  		<ul>
	  			<li class="<%= "active" if (params[:controller] == "pages" && params[:action] == "home") %>"><a href="/home/"><%= t 'home' %></a></li>
	  			<li class="<%= "active" if (params[:controller] == "pages" && params[:action] == "just_in") %>"><a href="/just_in/"><%= t 'pages.just_in' %></a></li>
	  			<li class="<%= "active" if params[:controller] == "products"%>"><a href="/products/"><%= t 'pages.shop' %></a></li>
	  			<li class="<%= "active" if (params[:controller] == "pages" && params[:action] == "info") %>"><a href="/info/"><%= t 'pages.info' %></a></li>
	  			<li class="<%= "active" if (params[:controller] == "pages" && params[:action] == "our_story") %>"><a href="/our_story/"><%= t 'pages.our_story' %></a></li>
				<li id="search_field">
					
		
				<%= form_tag products_path, :action => "index", :method => "GET" do %>
				  <%= text_field_tag :title %>
				  <%=  image_submit_tag("search.png", :id => "search", :name => "search", :class => "search-button", :disabled => false) %>
				<%  end %>

					
	  		</ul>
	  	</div>
	  	
	  </div>
	  
	  <div id="content">
		<div id="left">
			<%= yield(:left) %>
		</div>
	    <% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    <% end %>
	    <%= yield %>
	  </div>
	  <div class="footer">
		<ul>
			<li><a href="/contact/"><%= t 'pages.contact' %></a></li>
			<li><a href="/terms/"><%= t 'pages.terms' %></a></li>
			<li><a href="/press/"><%= t 'pages.press' %></a></li>
			<li><a href="/whole_sale/"><%= t 'pages.whole_sale' %></a></li>
			<li><a href="/blog/"><%= t 'pages.whole_sale' %></a></li>						
	</div>
	<br/><br/>
  </body>
</html>
